body
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: black;
	color: white;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

/* Seems necessary to make iframes work on itch.io on mobile iOS :-( */
#container
{
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
	z-index: 10;
}

#story
{
	position: relative;
	margin: 0 auto;
	/* overflow: hidden; */
	height: 100%;
	width: 700px;
	min-width: 60vw;
	max-width: 80vw !important;
	transition: opacity 2s ease;
	padding: 0em 1em 0em 1em;
}

@media (hover:none), (hover:on-demand)
{
	#story
	{
		max-width: 90%;
	}
}

#story > *:first-child {
	margin-top: 10vh !important;
}

#story > *:last-child
{
	margin-bottom: 15vh !important;
}

/* ================================================================= */

p
{
	margin-block-start: 0px !important;
	font-size: 16pt;
	line-height: 1.4;
}

p, p > *
{
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}

a
{
	text-decoration: none !important;
	transition: all 0.5s linear;
}

a:hover
{
	color: white;
}


.choice
{
	opacity: 0.5;
	transition: all 1s;
	color: white;
}

.choice:hover
{
	color: white;
	opacity: 1;
	transition: all 1s;
}

.choice > a
{
	color: inherit;
}

.choice > a:active
{
	color:red;
}

.chosen
{
	color: white !important;
	opacity: 1 !important;
}

.choice.fake-choice {
	opacity: 1;
}

.blanc-sur-rouge {
	color: white;
	background-color: red;

}
.rouge-sur-blanc {
	color: red;
	background-color: white;
	animation: tout-fout-le-camp 2s ease-in-out infinite;
}

@keyframes tout-fout-le-camp {
	0% {
		transform: rotate(-15deg) scale(0.8);
	}
	50% {
		transform: rotate(15deg) scale(1.2);
	}
	100% {
		transform: rotate(-15deg) scale(0.8);
	}
}
